# Ignore virtual environments
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore environment config
.env

# Ignore model weights or large data
*.h5
*.pt
*.pth
*.ckpt
*.dylib
*.log

# Ignore VS Code settings (optional)
.vscode/

.venv/
